<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>HelloPage</title>
</head>
<body>
<img width="360" src="https://i.ytimg.com/vi/HLj_VKhqGPw/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgVyhLMA8=&rs=AOn4CLApL4my9Vr3saq2zvHgEOiTuRQt-w">
    <h1>
        Harro! I'm Emu Otori!!! ITS MY PROJECT!!!!
    </h1>
    <p>
        EMU IS MEANING SMAIRU!!!!!
    </p>
</body>
</html>