{% extends 'index.html' %}

{% block content %}

    <h3>Post List</h3>
    <form action="" method="get">
    <input type="text" name="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>

    <h7>Sort by Date</h7>
    <a href="?order=date" method="get">↑</a>
    <a href="?order=-date" method="get">↓
</a>
    <h7>Sort by Rate</h7>
    <a href="?order=rate" method="get">↑</a>
    <a href="?order=-rate" method="get">↓
</a>

{% for post in posts %}
    <div class="card" style="width: 18rem;">
        <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{ post.title }} {{ post.rate }} </h5>
            <p class="card-text">{{ post.text }}.</p>
            <p class="card-text">{{ post.created_at }}.</p>
            {% for hashtag in post.hashtags.all %}
                <a href=#>
                    <p>
                        #{{ hashtag.name }}
                    </p>
                </a>
            {% endfor %}
            <a href="/posts/{{ post.id }}" class="btn btn-primary">SHOW ME MORE</a>
  </div>
</div>
{% endfor %}

    <div>
        {% for page in max_page %}
            <a href="?page={{ page }}"method="get">
            {{ page }}
            </a>
        {% endfor %}
    </div>

{% endblock %}